HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Java ###
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

### Gradle ###
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
.idea_modules/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


